body {
    background-color: skyblue;
}

button {
    color: red
}

.ccc {
    background-color: green;
    color: white;
    font-size: 30px;
}

.aaa {
    font-size: 99px;
}
.bbb {
    font-size: 100px;
}